
extends layout

block content
	#login-container
		form( method="post")#login-form.well.span4
			img(src='/img/logo-udc.jpg', alt='' )
			<br><br>
			h1 MicroVideoBlogger! 
			<br>
			div.clear-fix
			p.subheading Por favor acceda con su cuenta
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| Sign in
			label#remember-me.checkbox Recuerdame!
				input(type="checkbox", checked='checked')
			div.clear-fix
			hr
			div.btm-links
				a(href='#')#forgot-password Recordar su Password?
				a(href='/signup')#create-account Crear una Cuenta

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')