extends layout

block content
	include account
	include modals/alert
	include modals/confirm
	include navbar 

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/navBar.js')
	script(src='/js/controllers/navBarController.js')
	script(src='/js/controllers/modifyAccountController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='/js/views/modifyAccount.js')  