
div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                a(href='#').brand Bienvenido #{udata.name}
                button#btn-goHome.btn.btn-primary
                    i.icon-home.icon-white
                    | Home
                button#btn-goNewPost.btn.btn-primary
                    i.icon-film.icon-white
                    | Nuevo Post
                button#btn-goModifyAccount.btn.btn-primary
                    i.icon-user.icon-white
                    | Editar Cuenta
                button#btn-search.btn.btn-primary
                    i.icon-search.icon-white
                    |Buscar Post
                button#btn-logout.btn.btn-primary
                    i.icon-lock.icon-white
                    | Salir
