extends layout
block content
	#account-form-container
		form( method="post")#search-author-form.well.span4
			h2 Search Post 
			label#isAuthorSearch.checkbox Search by author
				input(type="checkbox",name='isAuthorSearch')
			label#isTagSearch.checkbox Search by tag
				input(type="checkbox",name='isTagSearch') 
			label#isTitleSearch.checkbox Search by title
				input(type="checkbox",name='isTitleSearch')                
			input(type="text", name="searchField", id='searchField').span4.required
			button(type="submit")#btn-searchByAuthor.btn.btn-success
				i.icon-search.icon-pencil
				| Search
			button(type="button")#btn-cancel.btn.btn-danger			
				i.icon-pencil.icon-pencil
				|Back
			hr      
		
			
	include navBar
	include modals/alert

    
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/controllers/navBarController.js')
	script(src='/js/views/navBar.js')

