

#addComment.modal-single-input.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        form( method="post")#add-comment-form.well.span5
            p Please enter your Comment
            input(type="hidden", name="title", value='#{udata.title}')
            input(type="hidden", name="author", value='#{udata.name}')
            input(type="text", name="commentBody", id='commentBody').span5.required
            button(type="submit")#submit.btn.btn-primary Submit
            div.alert.alert-error.hide
            button(data-dismiss="addComment").close
    div.modal-footer
        button(data-dismiss="modal").cancel.btn Cancel