
.modal-form-errors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Error!
	div.modal-body
		p.subheading Parece que hay un problema.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK